<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
</head>
<body>


<table class="layui-table" style="margin:80px 400px; width:450px;">
<colgroup>
    <col width="200">
    <col width="250">
</colgroup>


<div class="container">
    <form class="form-signin" id="changeform" action="/managebooks/detail3">
        <h2 class="form-signin-heading">修改密码</h2>
        <input type="password" class="form-control" placeholder="请输入旧密码" required autofocus name="password1" id="password1">
        <br><br>
        <input type="password" name="password2" class="form-control" placeholder="请输入新密码" id="password2">
        <br><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">确认修改</button>
    </form>
</div>

</body>
</html>
