<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>找回密码</title>
	
	<!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon--> 
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon--> 
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
	
	<!-- Styles -->
    <link href="/static/lib/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/static/lib/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/static/lib/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/css/lib/nixon.css" rel="stylesheet">
    <link href="/static/lib/css/style.css" rel="stylesheet">
</head>

<body class="bg-primary">

	<div class="Nixon-login">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<div class="login-content">
						<div class="login-logo">
							<a href="index_stu.html"><span>Foodmin</span></a>
						</div>
						<div class="login-form">
							<h4>找 回 密 码</h4>
							<form action="findPsd_check">
								<div class="form-group">
									<label>手机号码</label>
									<input type="number" id="phone" name="phone" class="form-control" placeholder="请输入您的手机号码">
								</div>
								<br><h4 style="color:red;" th:text="${msg}" ></h4>
								<button type="submit" class="btn btn-primary btn-flat m-b-15">查找</button>
								<div class="register-link text-center">
									<p>返 回<a href="/login"> 登 录</a></p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>