<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  
  
  
      <link rel="stylesheet" href="/static/lib/css/style.css">

  
</head>

<body>

  <body>
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>
			<form action="/managebooks/detail">
				<div class="login-form">
					<div class="control-group">
						<input type="text" class="login-field" value="" placeholder="username" name="username" id="username">
						<label class="login-field-icon fui-user" for="username"></label>
					</div>

					<div class="control-group">
						<input type="password" class="login-field" value="" placeholder="password" name="password" id="password">
						<label class="login-field-icon fui-lock" for="password"></label>
					</div>

					<button class="btn btn-primary btn-large btn-block" type="submit">登录</button>
					<a class="login-link" href="/managebooks/regist">注册</a>
					<a class="login-link" href="/managebooks/forgetPwd">忘记密码</a>
				</div>
			</form>

		</div>
	</div>
</body>
  
  

</body>

</html>
