<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>用户注册</title>


    <link rel="stylesheet" href="/static/lib/css/style.css">


</head>


<body>
<div class="login">
    <div class="login-screen">
        <div class="app-title">
            <h1>Login</h1>
        </div>
        <form action="/managebooks/detail2">
            <div class="login-form">
                <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="请输入用户名" name="username" id="username">
                    <label class="login-field-icon fui-user" for="username"></label>
                </div>

                <div class="control-group">
                    <input type="password" class="login-field" value="" placeholder="请输入密码" name="password" id="password">
                    <label class="login-field-icon fui-lock" for="password"></label>
                </div>

                <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="请输入姓名" name="rname" id="rname">
                    <label class="login-field-icon fui-lock" for="rname"></label>
                </div>

                <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="请输入手机号码" name="phone" id="phone">
                    <label class="login-field-icon fui-lock" for="phone"></label>
                </div>

                请选择您的身份：
                <select name="usertype">
                    <option value ="student">学生</option>
                    <option value ="teacher">教师</option>
                </select>

                <button class="btn btn-primary btn-large btn-block" type="submit">注册</button>
            </div>
        </form>

    </div>
</div>
</body>


</html>
