<!DOCTYPE html>
<html lang="en" xmlns:c="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>智慧课堂</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="/static/lib/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/static/lib/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/static/lib/css/lib/mmc-chat.css" rel="stylesheet" />
    <link href="/static/lib/css/lib/sidebar.css" rel="stylesheet">
    <link href="/static/lib/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/css/lib/nixon.css" rel="stylesheet">
    <link href="/static/lib/css/style.css" rel="stylesheet">
</head>


<script th:inline="javascript">

    var message = [[${msg}]];
    var user = [[${user}]];
    console.log("message:" + message);
    console.log(user);
    if(message)
        alert(message);

    function info_func(e) {
//        alert(e);
        window.location.href = "/courseinfo/"+e;
    }

    function select_func() {
        var cid = document.getElementById("cid").value;
        var code = document.getElementById("ccode").value;
        window.location.href="/chooseCourse/"+cid+"/"+code;
    }

    function drop_func(e) {
        var r = confirm("确认退选这门课程?");
        if(r==true){
            window.location.href="/dropCourse/"+e;
        }
    }

    function forum_func(e) {
        window.location.href="/forum/"+e;
    }

    function values_func(e) {
        console.log(e);
        $("#cid").val(e);
    }

    function delete_func(e) {
        var r = confirm("确认删除此门课程？（请慎重）");
        if(r==true){
            window.location.href="/deleteCourse/"+e;
        }
    }

</script>

<body>

<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <li><a></a></li>
                <li><a href="/index"><i class="ti-home"></i> 主  页 </a></li>


                <li><a href="/userinfo"><i class="ti-user"></i> 个人信息 </a></li>
                <!--<li><a href="/allCourses"><i class="ti-layout-grid2-alt"></i>课程</a></li>-->

                <li><a href="/allCourses"><i class="ti-layout"></i> 课程列表 </a></li>

                <li th:if="${user.userType.equals('教师')  || user.userType.equals('学生')}"><a href="/myCourses"><i class="ti-heart"></i> 我的课程 </a></li>

                <li th:if="${user.userType.equals('教师')}"><a data-toggle="modal" data-target="#add"><i class="ti-view-list-alt"></i> 创建课程 </a></li>

                <li><a href="/login"><i class="ti-close"></i> 登 出 </a></li>
            </ul>
        </div>
    </div>
</div><!-- /# sidebar -->




<div class="header">
    <div class="pull-left">
        <div class="logo">
            <a href="/index">
                <img id="logoImg"
                     src="/static/logo/logo.png"
                     data-logo_big="/static/logo/logo.png"
                     data-logo_small="/static/logo/logoSmall.png"
                     alt="Nixon" />
            </a>
        </div>
        <div class="hamburger sidebar-toggle">
            <span class="ti-menu"></span>
        </div>
    </div>

    <div class="pull-right p-r-15">
        <ul>
            <!-- ！！！！！！！！！！！！！！！！！！！！-->
            <li class="header-icon dib">
                <img class="avatar-img" src="/static/lib/images/avatar/1.jpg" alt="" />
                <span class="user-avatar" th:text="${user.userName}"><i class="ti-angle-down f-s-10"></i></span>
                <div class="drop-down dropdown-profile">
                    <div class="dropdown-content-heading">
                        <span class="text-left">欢迎使用智慧课堂管理系统！ </span>
                    </div>
                    <div class="dropdown-content-body">
                        <ul>
                            <li><a href="/userinfo"><i class="ti-user"></i> <span>个人信息</span></a></li>
                            <li><a href="/myCourses"><i class="ti-write"></i> <span>我的课程</span></a></li>
                            <li><a href="/resetPsd"><i class="ti-settings"></i> <span>修改密码</span></a></li>
                            <li><a href="/login"><i class="ti-power-off"></i> <span> 登 出 </span></a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="chat-sidebar">
    <!-- BEGIN chat -->
    <div id="mmc-chat" class="color-default">
        <!-- BEGIN CHAT BOX -->
        <div class="chat-box">
            <!-- BEGIN CHAT BOXS -->
            <ul class="boxs"></ul>
            <!-- END CHAT BOXS -->
            <div class="icons-set">
                <div class="stickers">
                    <div class="had-container">
                        <div class="row">
                            <div class="s12">
                                <ul class="tabs" style="width: 100%;height: 60px;">
                                    <li class="tab col s3">
                                        <a href="#tab1" class="active">
                                            <img src="/static/lib/images/avatar/1.jpg" alt="" />
                                        </a>
                                    </li>
                                    <li class="tab col s3"><a href="#tab2">Test 2</a></li>
                                </ul>
                            </div>
                            <div id="tab1" class="s12 tab-content">
                                <ul>
                                    <li> <img src="/static/lib/images/avatar/1.jpg" alt="" /></li>
                                    <li> <img src="/static/lib/images/avatar/1.jpg" alt="" /></li>
                                    <li> <img src="/static/lib/images/avatar/1.jpg" alt="" /></li>
                                    <li> <img src="/static/lib/images/avatar/1.jpg" alt="" /></li>
                                    <li> <img src="/static/lib/images/avatar/1.jpg" alt="" /></li>
                                    <li> <img src="/static/lib/images/avatar/1.jpg" alt="" /></li>
                                    <li> <img src="/static/lib/images/avatar/1.jpg" alt="" /></li>
                                    <li> <img src="/static/lib/images/avatar/1.jpg" alt="" /></li>
                                    <li> <img src="/static/lib/images/avatar/1.jpg" alt="" /></li>
                                    <li> <img src="/static/lib/images/avatar/1.jpg" alt="" /></li>
                                    <li> <img src="/static/lib/images/avatar/1.jpg" alt="" /></li>
                                    <li> <img src="/static/lib/images/avatar/1.jpg" alt="" /></li>
                                    <li> <img src="/static/lib/images/avatar/1.jpg" alt="" /></li>
                                </ul>
                            </div>
                            <div id="tab2" class="s12 tab-content">Test 2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CHAT BOX -->
        <!-- BEGIN SIDEBAR -->
        <div id="sidebar" class="right scroll">
            <div class="had-container">
                <!-- BEGIN USERS -->
                <div class="users">

                    <ul class="user-list">
                        <!-- BEGIN USER-->
                        <li class="user-tooltip" data-id="1" data-status="online" data-username="Rufat Askerov" data-position="left" data-filter-item data-filter-name="rufat askerov">
                            <!-- BEGIN USER IMAGE-->
                            <div class="user-image">
                                <img src="/static/lib/images/avatar/1.jpg" class="avatar" alt="Rufat Askerov" />
                            </div>
                            <!-- END USER IMAGE-->
                            <!-- BEGIN USERNAME-->
                            <span class="user-name">Rufat Askerov</span>
                            <span class="user-show"></span>
                            <!-- END USERNAME-->
                        </li>
                        <!-- END USER-->
                        <!-- BEGIN USER-->
                        <li class="user-tooltip" data-id="3" data-status="online" data-username="Alice" data-position="left" data-filter-item data-filter-name="alice">
                            <div class="user-image">
                                <img src="/static/lib/images/avatar/1.jpg" class="avatar" alt="Alice" />
                            </div>
                            <span class="user-name">Alice</span>
                            <span class="user-show"></span>
                        </li>

                        <!-- BEGIN USER-->
                        <li class="user-tooltip" data-id="7" data-status="offline" data-username="Michael Scofield" data-position="left" data-filter-item data-filter-name="michael scofield">
                            <div class="user-image">
                                <img src="/static/lib/images/avatar/1.jpg" class="avatar" alt="Michael Scofield" />
                            </div>
                            <span class="user-name">Michael Scofield</span>
                            <span class="user-show"></span>
                        </li>

                        <!-- BEGIN USER-->
                        <li class="user-tooltip" data-id="5" data-status="online" data-username="Irina Shayk" data-position="left" data-filter-item data-filter-name="irina shayk">
                            <div class="user-image">
                                <img src="/static/lib/images/avatar/1.jpg" class="avatar" alt="Irina Shayk" />
                            </div>
                            <span class="user-name">Irina Shayk</span>
                            <span class="user-show"></span>
                        </li>

                        <!-- BEGIN USER-->
                        <li class="user-tooltip" data-id="6" data-status="offline" data-username="Sara Tancredi" data-position="left" data-filter-item data-filter-name="sara tancredi">
                            <div class="user-image">
                                <img src="/static/lib/images/avatar/1.jpg" class="avatar" alt="Sara Tancredi" />
                            </div>
                            <span class="user-name">Sara Tancredi</span>
                            <span class="user-show"></span>
                        </li>

                        <!-- BEGIN USER-->
                        <li class="user-tooltip" data-id="7" data-status="offline" data-username="Jane" data-position="left" data-filter-item data-filter-name="Jane">
                            <div class="user-image">
                                <img src="/static/lib/images/avatar/1.jpg" class="avatar" alt="Jane" />
                            </div>
                            <span class="user-name">Jane</span>
                            <span class="user-show"></span>
                        </li>
                    </ul>
                    <div class="chat-user-search">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="ti-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search"  data-search />
                        </div>
                    </div>
                </div>
                <!-- END USERS -->

            </div>
        </div>
        <!-- END SIDEBAR -->
    </div>
    <!-- END chat -->
</div>
<!-- END chat Sidebar-->

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-0">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>全部课程</h1>
                        </div>
                    </div>
                </div><!-- /# column -->
                <div class="col-lg-4 p-0">
                    <div class="page-header">
                        <div class="page-title">
                        </div>
                    </div>
                </div>
            </div><!-- /# row -->
            <div class="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card alert">
                            <div class="card-header">
                                <h4>查询课程信息</h4>
                                <div class="booking-system-item">
                                    <form method="post" action="/findCourse">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="text" name="courseid" id="courseid" class="form-control" placeholder="课程编号" >
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <input type="text" name="coursename" id="coursename" class="form-control" placeholder="课程名称" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <button type="submit"
                                                            class="btn btn-primary btn-rounded  m-l-5">
                                                        搜索
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card alert">
                            <div class="card-header">
                                <div class="card-header-right-icon">
                                    <ul><li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li></ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-hover">

                                    <thead>
                                    <tr>
                                        <th>课程编号</th>
                                        <th>课程名称</th>
                                        <th>教师姓名</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="courselist: ${list}">
                                            <td th:text="${courselist.courseID}" th:onclick="'info_func('+${courselist.courseID}+');'"></td>
                                            <td th:text="${courselist.courseName}" th:onclick="'info_func('+${courselist.courseID}+');'"></td>
                                            <td th:text="${courselist.teacherName}"></td>

                                            <td th:if="${user.userType.equals('教师')}"><a th:onclick="'forum_func('+${courselist.courseID}+');'" class="btn btn-primary">讨论区</a></td>
                                            <td th:if="${user.userType.equals('学生')}">
                                                <a th:onclick="'forum_func('+${courselist.courseID}+');'" class="btn btn-primary">讨论区</a>
                                                <!--<a th:if="${courselist.isChosen==0&&user.userType.equals('学生')}" th:onclick="'select_func('+${courselist.courseID}+');'" class="btn btn-info">选课</a>-->
                                                <a th:if="${courselist.isChosen==0&&user.userType.equals('学生')}" th:onclick="'values_func('+${courselist.courseID}+');'" data-toggle="modal" data-target="#choose" class="btn btn-info">选课</a>
                                                <a th:if="${courselist.isChosen==1}" th:onclick="'drop_func('+${courselist.courseID}+');'" class="btn btn-danger">退课</a>
                                            </td>
                                            <td th:if="${user.userType.equals('管理员')}">
                                                <a th:onclick="'forum_func('+${courselist.courseID}+');'" class="btn btn-primary">讨论区</a>
                                                <a th:onclick="'delete_func('+${courselist.courseID}+');'" class="btn btn-danger">删除</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- /# column -->
                </div><!-- /# row -->
            </div>

        </div><!-- /# container-fluid -->
    </div><!-- /# main -->
</div><!-- /# content wrap -->





<!--创建课程窗口-->
<div id="add" class="modal fade">
    <div class="modal-dialog" style="width: 50%">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-title">
                <h1 class="text-center">创建课程</h1>
            </div>
            <div class="modal-body">
                <form id="form-login" action="/addCourse">
                    <div class="form-group has-feedback">
                        <label for="coursename">课程名称</label>&nbsp;<h6 th:text="${msg}"></h6>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                            <input id="coursename" name="coursename" class="form-control" placeholder="请输入课程名称" maxlength="20">
                        </div>

                        <span style="color:red;display: none;" class="tips"></span>
                        <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <label for="coursecode">邀请码</label>&nbsp;<h6 th:text="${msg}"></h6>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></span>
                            <input id="coursecode" name="coursecode" class="form-control" placeholder="请输入课程邀请码(10位以内数字)" maxlength="20">
                        </div>

                        <span style="color:red;display: none;" class="tips"></span>
                        <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <label for="ad-writer">教师</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input id="ad-writer" class="form-control" th:value="${user.userName}" readonly="readonly" maxlength="10">
                        </div>
                        <span style="color:red;display: none;" class="tips"></span>
                        <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>

                    <div class="text-right">
                        <button class="btn btn-primary" type="submit" id="btn-add">创建</button>
                        <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>

                </form>
            </div>
        </div>
    </div>


</div>
<!--选课窗口-->
<div id="choose" class="modal fade">
    <div class="modal-dialog" style="width: 50%">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-title">
                <h1 class="text-center">邀请码验证</h1>
                <input id="cid" type="hidden">
            </div>
            <div class="modal-body">
                <form id="form-choose">
                    <div class="form-group has-feedback">
                        <label for="ccode">邀请码</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></span>
                            <input id="ccode" name="ccode" class="form-control" placeholder="请输入课程邀请码" maxlength="20">
                        </div>

                        <span style="color:red;display: none;" class="tips"></span>
                        <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>

                    <div class="text-right">
                        <button class="btn btn-primary" onclick="select_func();" type="button" id="btn-choose">验证</button>
                        <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>

                </form>
            </div>
        </div>
    </div>


</div>


<script src="/static/lib/js/lib/jquery.min.js"></script><!-- jquery vendor -->
<script src="/static/lib/js/lib/jquery.nanoscroller.min.js"></script><!-- nano scroller -->
<script src="/static/lib/js/lib/sidebar.js"></script><!-- sidebar -->
<script src="/static/lib/js/lib/bootstrap.min.js"></script><!-- bootstrap -->
<script src="/static/lib/js/lib/mmc-common.js"></script>
<script src="/static/lib/js/lib/mmc-chat.js"></script>
<script src="/static/lib/js/scripts.js"></script><!-- scripit init-->


</body>

</html>
